body {
	background-color: grey;
	font-family: 'comic sans';
	color: white;
}
.navBlack {
	background-color:;
	color: white;
	list-style-type: none;
}

.mainBody {
	font-family: "Arial verdana";
	font-size: 30px;
	color: white;
	text-align: center;
	padding: auto;

}

#white {
	color: white;
}

a:link {
	text-decoration: none;
	color: white;
}
ul {
	color: white;
	list-style-type: none;
	margin: 20px;
	padding: 10px;
	text-align: center;
	overflow: hidden;
}
li {
	float: left;
	padding-left: 0px;
	padding-top: 60px;
	margin-bottom: auto;

}

li a {
	margin-top: 60px;
	margin-bottom: 0px;
	padding-left: 0px;
	color: #c2c2a3;
	display: inline-block;
	width: 50px;
	background-color: black;
	padding: 25px 31px;
	text-decoration: none;
	text-align: center;
}
.button {
	background-color: white;
	border: none;
	padding: 15px 32px;
	text-decoration: none;
	color: black;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
	margin: 4px 2px;
}
.button2, .button1 {
	border-radius: 3px;
}

.joinFlickr {
	font-size: 20px;
	font-family: "Arial Verdana";
}
input {
	width: 40%;
}
.searchInput {
	text-align: left;
}
.searchBar {
	text-decoration: none;
	text-align: center;
	background-color: black;
	display: block;
	padding-left: 30px
}
.alignLeft {
	text-align: right;
}
.logIn {
	color: white;
	margin-right: 50px;
	margin-left: 50px;
}

#signUp {
	margin-right: 5px;
}